<div class="order-box">
  <div class="order-status">
    <div class="order-code-info">
      <span><%= t("view.admin.order.order_code") %> <%= order.id %></span>
      <div class="btn-update" id="btn-update-<%= order.id %>">
        <%= current_user.admin? ? order_status_tag_update(order) : order_status_tag(order) %>
      </div>
    </div>
    <div class="order-tracking" id="order-tracking-<%= order.id %>">
      <%= render partial: "shared/show_look_up", locals: { order: order } %>
    </div>
  </div>

  <div class="order__products">
    <div class="order__products-list" id="order-products-list">
      <%= render partial: "shared/order_product", collection: order_products, as: :order_product, formats: [:html] %>
    </div>
  </div>

  <div class="order__payment">
    <div class="order__payment-block">
      <div class="order__payment-header">
        <%= bootstrap_icon "credit-card", height: Settings.default.view.order_lookup.label_size, class: "order__payment-header-icon" %>
        <p class="order__payment-header-text">
          <%= t("view.order_lookup.payment_info") %>
        </p>
      </div>

      <div class="order__payment-content">
        <div class="order__payment-row">
          <p class="order__payment-row__label"><%= t("view.order_lookup.total_price") %></p>
          <p class="order__payment-row__value"><%= product_price total_price %>đ</p>
        </div>
        <div class="order__payment-row">
          <p class="order__payment-row__label"><%= t("view.order_lookup.shipping_fee") %></p>
          <p class="order__payment-row__value"><%= product_price Settings.default.order.delivery_fee %>đ</p>
        </div>
        <div class="order__payment-row order__payment-row--total">
          <p class="order__payment-row__label"><%= t("view.order_lookup.amount_due") %></p>
          <p class="order__payment-row__value order__payment-value--total"><%= product_price total_amount %>đ</p>
        </div>
        <div class="order__payment-row order__payment-row--final">
          <p class="order__payment-row__label"><%= t("view.order_lookup.remaining_balance") %></p>
          <p class="order__payment-row__value order__payment-value--final"><%= product_price total_amount %>đ</p>
        </div>
      </div>
    </div>

    <div class="order__customer">
      <div class="order__customer-header">
        <%= bootstrap_icon "person-circle", height: Settings.default.view.order_lookup.label_size, class: "order__payment-header-icon" %>
        <p class="order__header-text">
          <%= t("view.order_lookup.customer_info") %>
        </p>
      </div>

      <div class="order__customer-content">
        <div class="order__customer-row">
          <%= bootstrap_icon "person-lines-fill", height: Settings.default.view.order_lookup.info_icon_size, class: "order__contact-icon" %>
          <div class="order__contact-text"><%= user_order[:full_name] %></div>
        </div>
        <div class="order__customer-row">
          <%= bootstrap_icon "telephone", height: Settings.default.view.order_lookup.info_icon_size, class: "order__contact-icon" %>
          <div class="order__contact-text"><%= user_order[:telephone] %></div>
        </div>
        <div class="order__customer-row">
          <%= bootstrap_icon "geo-alt", height: Settings.default.view.order_lookup.info_icon_size, class: "order__contact-icon" %>
          <div class="order__contact-text"><%= location %></div>
        </div>
      </div>
    </div>
  </div>
</div>
