<% provide(:title, t("title.sign_in")) %>
<div class="login-form">
  <div class="login-form__container">
    <div class="digihub_logo">
      <%= image_tag "digihub_logo.png", alt: "DigiHub Logo" %>
    </div>
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "shared/error_messages", object: f.object if f.object %>
      
      <div class="form-group">
        <%= f.label :email, t("form.label.user.email") %>
        <%= f.email_field :email, class: "form-control", placeholder: t("form.placeholder.email") %>
      </div>

      <div class="form-group">
        <%= f.label :password, t("form.label.user.password") %>
        <%= f.password_field :password, class: "form-control", placeholder: t("form.placeholder.password") %>
      </div>

      <div class="form-check">
        <%= f.check_box :remember_me, class: "form-check-input", id: "remember_me" %>
        <%= f.label :remember_me, t("view.sign_in.remember_me"), class: "form-check-label" %>
      </div>

      <%= f.submit t("view.sign_in.title"), class: "btn btn-login" %>
      
      <div class="login-options">
        <%= link_to t("view.sign_in.forgot_password"), new_password_path(resource_name), class: "forgot-password" %>
        <%= link_to t("view.sign_in.register"), new_user_registration_path, class: "register-link" %>
      </div>
    <% end %>
  </div>
</div>
