<p><%= t("mailer.reset_password.greeting", email: @resource.email) %></p>

<p><%= t("mailer.reset_password.request_message") %></p>

<p><%= link_to t("mailer.reset_password.change_link"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t("mailer.reset_password.ignore_message") %></p>
<p><%= t("mailer.reset_password.security_notice") %></p>
